
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;800&display=swap');
*{
    --extraBold:800;
    --bold:600;
    --regular:400;
    --light:300;
    --thin:100;
    --extraLarge:80px;
    --large:70px;
    --medium:30px;
    --small:15px;
    --font: 'Raleway', sans-serif; ;
}
body{
    margin: 0;
    
    box-sizing: border-box;
    
    
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}
/* width */
::-webkit-scrollbar {
    width: 0.5px;
    height: 0.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.name{
    font-size: var(--medium);
    font-weight: var(--bold);
    font-family: var(--font);
    color: #519259;
    margin: 0;
    display: inline;
}
.listItem{
    font-size: var(--small);
    font-weight: var(--regular);
    font-family: var(--font);
    margin: 0 10px ;
}
.listItem:hover{
    text-shadow: 0px 0px 3px red;
}
.active{
    box-shadow: 0 0 2px white;
    padding:5px;
    border-radius:15px;
    text-shadow: 0 0 2px white;
    font-weight: var(--extraBold);
}
.navlist{
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    position: relative;
   
    
}
.nav{
    box-sizing: border-box;
    padding:10px;   
    display: inline-block;
    width: 75vw;
    
}
.navbar{
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    
    display: inline-flex;
    justify-content: space-between;
    padding: 15px;
    

  width: 100vw;
}
.name {
  font-size: var(--medium);
  font-weight: var(--bold);
  font-family: var(--font);
  color: #519259;
  margin: 0;
  display: inline;
}
.listItem {
  font-size: var(--small);
  font-weight: var(--regular);
  font-family: var(--font);
  margin: 0 10px;
}
.about {
  color: black;
  text-decoration: none;
}
.listItem:hover {
  text-shadow: 0px 0px 3px red;
  transition: 0.7s;
}

.navlist {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  position: relative;
}
.nav {
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  width: 75vw;
}
.navbar {
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;

  display: inline-flex;
  justify-content: space-between;
  padding: 15px;
}
.sign-in {
  top: 15px;
  font-family: var(--font);
  font-size: var(--small);
  padding: 15px 25px;
  border-radius: 15px;
  background-color: #519259;
  border: none;
  color: white;
  right: -23vw;
}
.toggle-button,
.close-button {
  visibility: hidden;
}
.further{
  list-style-type: none; 
  visibility: hidden;
  
}
.showDrop{
  visibility: visible;
}
@media (max-width: 800px) {
  .navlist {
    flex-direction: column;
    background-color: #519259;
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    line-height: 50px;
    padding-top: 25px;
    padding-left: 0;
    transition: 0.4s;
  }
  .nav {
    padding: 25px;
  }
  .show {
    transition: 0.4s;
    left: 0;
  }
  .listItem {
    border-bottom: 2px solid white;
    color: white;
    padding: 15px;
  }
 
  .toggle-button,
  .close-button {
    visibility: visible;
    font-family: var(--font);
    font-size: var(--small);
    padding-right: 10px;
    font-weight: var(--bold);
  }
  .close-button {
    color: white;
    text-align: center;
  }
}

.container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 0;


}
.slide{
    flex: none;
    flex-direction: column;
    scroll-snap-align: start;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: rgb(28,28,28);
    padding: 100px;
    padding-top: 100px;
    width:100vw;
    height: 100vh;
    
    margin: 0;
    box-shadow: inset 0 0 200px black;
}
.one{
    background-image: url(cover-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.two{
    background-image: url(cover-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.three{
    background-image: url(cover-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text{
    font-family: var(--font);
}
.topic{
   height:fit-content;
   position: relative;
   top: 5vh;
   display: inline;
   padding-left: 5rem;
    
}
.heading{
    font-size: var(--large);
    margin-bottom: 0;
    font-weight: var(--bold);
    margin: 0;
}
.bold{
    font-weight: var(--extraBold);
    
    font-size: var(--extraLarge);
}
.content{
    height: fit-content;
   
    text-align: right;
    backdrop-filter: blur(4px);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(100, 97, 97, 0.397);
    margin-right: 50px;
    margin-left: auto;
    box-sizing: border-box;
    height: 100%;
    max-width: 450px;
   
}
.content-box{
    width: 50%;
    
    padding: 15px;
}
.second-heading{
    font-size:50px;
    font-weight: var(--bold);
    margin: 0;
}
.content-text{
    font-size: var(--small);
    font-weight: var(--bold);
}
.readmore{
    
    position: absolute;
    bottom: 0;
    right: 7vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
}
.arrow{
    position: relative;
    top: 50vh;
    color: black;
    font-size: 50px;
    margin: 0 50px;
}
.left{

    left: 0;
}
.right{
    right: 0;
}
.arrownav{
    position:absolute;
    height: 100vh;
    padding: auto 0;
    align-items: center;
}
.line{
    
    border: 2px solid black;
    margin: 0;
}
.vertical{
    position:relative;
    top: 6vw;
    transform: rotate(-180deg);
    width: 0.5px;
    height: 70%;
}
.horizontal{
    position: absolute;
    width: 85%;
    height: 0.5px;
    
    bottom: 50px;
    left:2rem;
}
.read{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: relative;
    top: 13vh;
    right: 12px;
    font-size: var(--small);
    transform: rotate(-180deg);
}

.contact{
    text-decoration: none;
    color: black;


}


.news{
    box-sizing: border-box;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    width: 50%;    
    
    padding-top: 15px;
    border-radius: 15px;
    margin-top: 10px;
    
    margin-left: 15px;
}
.newsArticle{
    box-sizing: border-box;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.397);
    
    backdrop-filter: blur(4px);
    width: 200px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    height: 100px;
    margin: 10px;
    box-shadow: 0 0 15px rgba(100, 97, 97, 0.397);
}
.newsImage{
    width: 40%;
    display: inline-block;
    border-radius: 10px;
    height: 100%;
}
.newsImage>img{
    object-fit: fill;
    
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.newsContent{
    width: 50%;
    display: inline-block;
    margin: auto 0;
    padding: 5px;
    padding-left: 15px;
    height: 80%;
    position: relative;
    top: -9%;
    font-size: var(--small);
    box-sizing: border-box;
}
.lower{
    box-sizing: border-box;
    margin-top: 15px;
    padding-top: 15px;
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
   
    
}
@media (max-width:800px){
    body{
        overflow-y: scroll;
    }
    .lower{
        flex-direction: column;
    }
}
